flows.json
[
    {
        "id": "3155fc29ace33dcb",
        "type": "tab",
        "label": "main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed5a922bb126bd97",
        "type": "tab",
        "label": "ADS Anbindung",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3953286b03d613bb",
        "type": "ads-client-connection",
        "name": "SLS",
        "targetAmsNetId": "172.22.168.11.1.1",
        "targetAdsPort": "851",
        "objectifyEnumerations": true,
        "convertDatesToJavascript": true,
        "readAndCacheSymbols": false,
        "readAndCacheDataTypes": false,
        "disableSymbolVersionMonitoring": false,
        "routerTcpPort": "48898",
        "routerAddress": "172.22.168.11",
        "localAddress": "",
        "localTcpPort": "",
        "localAmsNetId": "172.22.168.61.1.1",
        "localAdsPort": "32750",
        "timeoutDelay": "",
        "hideConsoleWarnings": false,
        "autoReconnect": true,
        "reconnectInterval": "",
        "checkStateInterval": "",
        "connectionDownDelay": "",
        "allowHalfOpen": false,
        "disableBigInt": false,
        "debuggingLevel": "",
        "bareClient": false
    },
    {
        "id": "19d3d373c748b635",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "a552810e30ae71e2",
        "type": "ads-client-connection",
        "name": "SLS2",
        "targetAmsNetId": "172.25.177.227.1.1",
        "targetAdsPort": "851",
        "objectifyEnumerations": true,
        "convertDatesToJavascript": true,
        "readAndCacheSymbols": false,
        "readAndCacheDataTypes": false,
        "disableSymbolVersionMonitoring": false,
        "routerTcpPort": "",
        "routerAddress": "",
        "localAddress": "",
        "localTcpPort": "",
        "localAmsNetId": "",
        "localAdsPort": "",
        "timeoutDelay": "",
        "hideConsoleWarnings": false,
        "autoReconnect": true,
        "reconnectInterval": "",
        "checkStateInterval": "",
        "connectionDownDelay": "",
        "allowHalfOpen": false,
        "disableBigInt": false,
        "debuggingLevel": "",
        "bareClient": false
    },
    {
        "id": "f6c8b81ea62a84e7",
        "type": "influxdb batch",
        "z": "3155fc29ace33dcb",
        "influxdb": "19d3d373c748b635",
        "precision": "",
        "retentionPolicy": "",
        "name": "InfluxDB Batch",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "KIT",
        "bucket": "SLS_Data",
        "x": 600,
        "y": 40,
        "wires": []
    },
    {
        "id": "bd8c4fa4632e8aee",
        "type": "inject",
        "z": "3155fc29ace33dcb",
        "name": "Send Data to InfluxDB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "0895be440011be08"
            ]
        ]
    },
    {
        "id": "0895be440011be08",
        "type": "function",
        "z": "3155fc29ace33dcb",
        "name": "Power Calculation",
        "func": "// Infrarotheizung\nvar powerInfrared1 = parseFloat(global.get(\"iPowerInfrared1\"));\nvar powerInfrared2 = parseFloat(global.get(\"iPowerInfrared2\"));\nvar powerInfrared3 = parseFloat(global.get(\"iPowerInfrared3\"));\nvar powerInfrared = powerInfrared1 + powerInfrared2 + powerInfrared3\n// Heizmatte 1 (Bauplattform)\nvar powerHeatingMat1 = 7\n// Heizmatte 2 (Pulverplattform)\nvar powerHeatingMat2 = 7\n// Heizmatte 3 (Faserintegration)\nvar powerHeatingMat3 = 7\n// Düsenheizung\nvar powerHeatingNozzle = 8\n// Laser\nvar powerLaser = 4\n// Ventilator -> Grundlast\n\n// Motor 1 (Bauplattform)\nvar powerMotor1=global.get(\"iBuildPlatformCurrent\")*230\n\n// Motor 2 (Vorratsplattform)\nvar powerMotor2=global.get(\"iReservoirPlatformCurrent\")*230\n// Motor 3 (Düse X-Achse)\nvar powerMotor3=global.get(\"iNozzleXAxisCurrent\")*230\n// Motor 4 (Düse Y-Achse)\nvar powerMotor4=global.get(\"iNozzleYAxisCurrent\")*230\n// Motor 5 (Rakel)\nvar powerMotor5 = global.get(\"iDoctorBladeCurrent\")*230\n// Motor 6 (Faservorschub)\nvar powerMotor6=global.get(\"iFiberTransportIntegrationUnitCurrent\")*230\n\nmsg.payload = [\n    {\n        measurement: \"Power\",\n        fields: {\n            powerInfrared:powerInfrared,\n            powerHeatingMat1:powerHeatingMat1,\n            powerHeatingMat2:powerHeatingMat2,\n            powerHeatingMat3:powerHeatingMat3,\n            powerHeatingNozzle:powerHeatingNozzle,\n            powerLaser:powerLaser,\n            powerMotor1:powerMotor1,\n            powerMotor2:powerMotor2,\n            powerMotor3:powerMotor3,\n            powerMotor4:powerMotor4,\n            powerMotor5:powerMotor5,\n            powerMotor6:powerMotor6\n        },\n        tags:{\n            process:\"Sintern\",\n            component:\"Bauteil XY\"\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 80,
        "wires": [
            [
                "6cc982fa45d84a4d",
                "f6c8b81ea62a84e7"
            ]
        ]
    },
    {
        "id": "a031969e1282aa23",
        "type": "function",
        "z": "3155fc29ace33dcb",
        "name": "Material Calculation",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6c2597ba69501fee",
        "type": "function",
        "z": "3155fc29ace33dcb",
        "name": "Temperature Monitoring",
        "func": "// Temperatur Gehäuse\nvar tempBuilding = global.get(\"iPT100_Building\")\n// Temperatur Düse\nvar tempNozzle = global.get(\"iPT100_Nozzle\")\n// Temperatur Faserintegrationseinheit\nvar tempFaser = global.get(\"iPT100_Fiber\")\n// Temperature Pulveroberfläche\nvar tempSurface = global.get(\"rTemperatureSurface\")\n\nmsg.payload = [\n    {\n        measurement: \"Temperature\",\n        fields: {\n            tempBuilding:tempBuilding,\n            tempNozzle:tempNozzle,\n            tempFaser:tempFaser,\n            tempSurface:tempSurface\n        },\n        tags:{\n            process:\"Sintern\",\n            component:\"Bauteil XY\"\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "9db33c57dcb77e80",
                "8b7bd0d68c046b50"
            ]
        ]
    },
    {
        "id": "6cc982fa45d84a4d",
        "type": "debug",
        "z": "3155fc29ace33dcb",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "a3bb0340e0a914aa",
        "type": "inject",
        "z": "3155fc29ace33dcb",
        "name": "Send Data to InfluxDB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "a031969e1282aa23"
            ]
        ]
    },
    {
        "id": "d68cb4af46af98cc",
        "type": "influxdb batch",
        "z": "3155fc29ace33dcb",
        "influxdb": "19d3d373c748b635",
        "precision": "",
        "retentionPolicy": "",
        "name": "InfluxDB Batch",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "KIT",
        "bucket": "SLS_Data",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "e970d75db2b2b3ae",
        "type": "debug",
        "z": "3155fc29ace33dcb",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "673b1558530a83f5",
        "type": "inject",
        "z": "3155fc29ace33dcb",
        "name": "Send Data to InfluxDB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "6c2597ba69501fee"
            ]
        ]
    },
    {
        "id": "8b7bd0d68c046b50",
        "type": "influxdb batch",
        "z": "3155fc29ace33dcb",
        "influxdb": "19d3d373c748b635",
        "precision": "",
        "retentionPolicy": "",
        "name": "InfluxDB Batch",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "KIT",
        "bucket": "SLS_Data",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "9db33c57dcb77e80",
        "type": "debug",
        "z": "3155fc29ace33dcb",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "a7713f01a6a72562",
        "type": "inject",
        "z": "3155fc29ace33dcb",
        "name": "Send Data to InfluxDB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "3271dbdc818b6471"
            ]
        ]
    },
    {
        "id": "3271dbdc818b6471",
        "type": "function",
        "z": "3155fc29ace33dcb",
        "name": "Process Monitoring",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1246c50191855216",
        "type": "debug",
        "z": "3155fc29ace33dcb",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "de663d947aedac7f",
        "type": "influxdb batch",
        "z": "3155fc29ace33dcb",
        "influxdb": "19d3d373c748b635",
        "precision": "",
        "retentionPolicy": "",
        "name": "InfluxDB Batch",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "KIT",
        "bucket": "SLS_Data",
        "x": 600,
        "y": 480,
        "wires": []
    },
    {
        "id": "e8634bdf5693be6f",
        "type": "ads-client-connection-status",
        "z": "ed5a922bb126bd97",
        "name": "SLS ADS Status",
        "connection": "3953286b03d613bb",
        "showInput": false,
        "inputs": 0,
        "x": 400,
        "y": 40,
        "wires": [
            [
                "0daed83fcdaaf541"
            ]
        ]
    },
    {
        "id": "0daed83fcdaaf541",
        "type": "debug",
        "z": "ed5a922bb126bd97",
        "name": "SLS ADS Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 40,
        "wires": []
    },
    {
        "id": "fa8eff2047e11308",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "global.set(\"iPowerInfrared1\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8506b4ce4abd3ff7",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "global.set(\"iPowerInfrared2\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b382369e19c81afa",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "global.set(\"iPowerInfrared3\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6f34985467b664f2",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iBuildPlatformCurrent = msg.payload;\nglobal.set(\"iBuildPlatformCurrent\", iBuildPlatformCurrent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3babe7c99581d022",
        "type": "debug",
        "z": "ed5a922bb126bd97",
        "name": "Debug needed Variable",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "f2563b9df2d98a3c",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iReservoirPlatformCurrent = msg.payload;\nglobal.set(\"iReservoirPlatformCurrent\", iReservoirPlatformCurrent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "085cff276f6467eb",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iNozzleXAxisCurrent = msg.payload;\nglobal.set(\"iNozzleXAxisCurrent\", iNozzleXAxisCurrent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "442765716c1e0a5a",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iNozzleYAxisCurrent = msg.payload;\nglobal.set(\"iNozzleYAxisCurrent\", iNozzleYAxisCurrent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "840f55f6b9e336b5",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iDoctorBladeCurrent = msg.payload;\nglobal.set(\"iDoctorBladeCurrent\", iDoctorBladeCurrent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "02552fb901896a7d",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iFiberTransportIntegrationUnitCurrent = msg.payload;\nglobal.set(\"iFiberTransportIntegrationUnitCurrent\", iFiberTransportIntegrationUnitCurrent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "577224338009d66c",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "iPowerInfrared1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "fa8eff2047e11308"
            ]
        ]
    },
    {
        "id": "8f1ed3a433d7a1c6",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "iPowerInfrared2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "str",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "8506b4ce4abd3ff7"
            ]
        ]
    },
    {
        "id": "3ae6101bc0f590db",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "iPowerInfrared3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "b382369e19c81afa"
            ]
        ]
    },
    {
        "id": "f504386055443142",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "iBuildPlatformCurrent",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.1",
        "payloadType": "num",
        "x": 420,
        "y": 520,
        "wires": [
            [
                "6f34985467b664f2"
            ]
        ]
    },
    {
        "id": "6195c5ec94b22b6d",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "iReservoirPlatformCurrent",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.2",
        "payloadType": "num",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "f2563b9df2d98a3c"
            ]
        ]
    },
    {
        "id": "fda25c8fcd58a254",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "iNozzleXAxisCurrent",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.1",
        "payloadType": "num",
        "x": 420,
        "y": 760,
        "wires": [
            [
                "085cff276f6467eb"
            ]
        ]
    },
    {
        "id": "d1860b2cfd40c4be",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "iNozzleYAxisCurrent",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.1",
        "payloadType": "num",
        "x": 420,
        "y": 880,
        "wires": [
            [
                "442765716c1e0a5a"
            ]
        ]
    },
    {
        "id": "812754e434c7c114",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "iDoctorBladeCurrent",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.2",
        "payloadType": "num",
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "840f55f6b9e336b5"
            ]
        ]
    },
    {
        "id": "a43477d33f8b5542",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "iFiberTransportIntegrationUnitCurrent",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.1",
        "payloadType": "num",
        "x": 470,
        "y": 1120,
        "wires": [
            [
                "02552fb901896a7d"
            ]
        ]
    },
    {
        "id": "917f59d9ee2ca4d2",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iPT100_Building = msg.payload;\nglobal.set(\"iPT100_Building\", iPT100_Building);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "d918739fa77106ba",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "iPT100_Building",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "num",
        "x": 410,
        "y": 1240,
        "wires": [
            [
                "917f59d9ee2ca4d2"
            ]
        ]
    },
    {
        "id": "ba7e0b60aff21ddb",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iPT100_Nozzle = msg.payload;\nglobal.set(\"iPT100_Nozzle\", iPT100_Nozzle);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "d04a0cbc5b9f4b29",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "iPT100_Nozzle",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 400,
        "y": 1360,
        "wires": [
            [
                "ba7e0b60aff21ddb"
            ]
        ]
    },
    {
        "id": "7571ea3c94ec3ab7",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iPT100_Fiber = msg.payload;\nglobal.set(\"iPT100_Fiber\", iPT100_Fiber);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "6e0f8f23a08b191f",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "iPT100_Fiber",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "80",
        "payloadType": "num",
        "x": 400,
        "y": 1480,
        "wires": [
            [
                "7571ea3c94ec3ab7"
            ]
        ]
    },
    {
        "id": "6eafa036096de8a4",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var rTemperatureSurface = msg.payload;\nglobal.set(\"rTemperatureSurface\", rTemperatureSurface);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "5afc060a4953a149",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "rTemperatureSurface",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "num",
        "x": 420,
        "y": 1600,
        "wires": [
            [
                "6eafa036096de8a4"
            ]
        ]
    },
    {
        "id": "1f8859c8347ee8a0",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "iPowerInfrared1",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_IO.iPowerInfrared1",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "fa8eff2047e11308"
            ]
        ]
    },
    {
        "id": "077a1a6f946dc4d9",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "iPowerInfrared2",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_IO.iPowerInfrared2",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "8506b4ce4abd3ff7"
            ]
        ]
    },
    {
        "id": "41d48723cd2eb9ce",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "iPowerInfrared3",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_IO.iPowerInfrared3",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "b382369e19c81afa"
            ]
        ]
    },
    {
        "id": "edb3d9714431bb8f",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "rTemperatureSurface",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.rTemperatureSurface",
        "x": 400,
        "y": 1540,
        "wires": [
            [
                "6eafa036096de8a4"
            ]
        ]
    },
    {
        "id": "3acb13f3afa03248",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "rPT100_Fiber",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.rPT100_Fiber",
        "x": 380,
        "y": 1420,
        "wires": [
            [
                "7571ea3c94ec3ab7"
            ]
        ]
    },
    {
        "id": "843f7c93f5067d73",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "rPT100_Nozzle",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.rPT100_Nozzle",
        "x": 380,
        "y": 1300,
        "wires": [
            [
                "ba7e0b60aff21ddb"
            ]
        ]
    },
    {
        "id": "b39df9ad6344eb8d",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "rPT100_Building",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.rPT100_Building",
        "x": 380,
        "y": 1180,
        "wires": [
            [
                "917f59d9ee2ca4d2"
            ]
        ]
    },
    {
        "id": "745c7cddfb23ae8e",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "iFiberTransportIntegrationUnitCurrent",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_IO.iFiberTransportIntegrationUnitCurrent",
        "x": 450,
        "y": 1060,
        "wires": [
            [
                "02552fb901896a7d"
            ]
        ]
    },
    {
        "id": "8a97c1983d92d397",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "iDoctorBladeCurrent",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_IO.iDoctorBladeCurrent",
        "x": 420,
        "y": 940,
        "wires": [
            [
                "840f55f6b9e336b5"
            ]
        ]
    },
    {
        "id": "58178cea05beacdb",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "iNozzleYAxisCurrent",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_IO.iNozzleYAxisCurrent",
        "x": 400,
        "y": 820,
        "wires": [
            [
                "442765716c1e0a5a"
            ]
        ]
    },
    {
        "id": "1ddb2299f543f696",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "iNozzleXAxisCurrent",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_IO.iNozzleXAxisCurrent",
        "x": 420,
        "y": 700,
        "wires": [
            [
                "085cff276f6467eb"
            ]
        ]
    },
    {
        "id": "f31f605d5fb4e7a9",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "iReservoirPlatformCurrent",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_IO.iReservoirPlatformCurrent",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "f2563b9df2d98a3c"
            ]
        ]
    },
    {
        "id": "6f450b8360706f2e",
        "type": "ads-client-read-symbol",
        "z": "ed5a922bb126bd97",
        "name": "iBuildPlatformCurrent",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_IO.iBuildPlatformCurrent",
        "x": 420,
        "y": 460,
        "wires": [
            [
                "6f34985467b664f2"
            ]
        ]
    },
    {
        "id": "39af820d857a8ce2",
        "type": "inject",
        "z": "ed5a922bb126bd97",
        "name": "Abfrageintervall",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "1f8859c8347ee8a0",
                "077a1a6f946dc4d9",
                "41d48723cd2eb9ce",
                "6f450b8360706f2e",
                "f31f605d5fb4e7a9",
                "1ddb2299f543f696",
                "58178cea05beacdb",
                "8a97c1983d92d397",
                "745c7cddfb23ae8e",
                "b39df9ad6344eb8d",
                "843f7c93f5067d73",
                "3acb13f3afa03248",
                "edb3d9714431bb8f"
            ]
        ]
    }
]