flows.json
[
    {
        "id": "3155fc29ace33dcb",
        "type": "tab",
        "label": "main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed5a922bb126bd97",
        "type": "tab",
        "label": "ADS Anbindung",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3953286b03d613bb",
        "type": "ads-client-connection",
        "name": "SLS",
        "targetAmsNetId": "169.254.233.169.1.1",
        "targetAdsPort": "851",
        "objectifyEnumerations": true,
        "convertDatesToJavascript": true,
        "readAndCacheSymbols": false,
        "readAndCacheDataTypes": false,
        "disableSymbolVersionMonitoring": false,
        "routerTcpPort": "",
        "routerAddress": "",
        "localAddress": "",
        "localTcpPort": "",
        "localAmsNetId": "",
        "localAdsPort": "",
        "timeoutDelay": "",
        "hideConsoleWarnings": false,
        "autoReconnect": true,
        "reconnectInterval": "",
        "checkStateInterval": "",
        "connectionDownDelay": "",
        "allowHalfOpen": false,
        "disableBigInt": false,
        "debuggingLevel": "",
        "bareClient": false
    },
    {
        "id": "19d3d373c748b635",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "a552810e30ae71e2",
        "type": "ads-client-connection",
        "name": "SLS2",
        "targetAmsNetId": "172.25.177.227.1.1",
        "targetAdsPort": "851",
        "objectifyEnumerations": true,
        "convertDatesToJavascript": true,
        "readAndCacheSymbols": false,
        "readAndCacheDataTypes": false,
        "disableSymbolVersionMonitoring": false,
        "routerTcpPort": "",
        "routerAddress": "",
        "localAddress": "",
        "localTcpPort": "",
        "localAmsNetId": "",
        "localAdsPort": "",
        "timeoutDelay": "",
        "hideConsoleWarnings": false,
        "autoReconnect": true,
        "reconnectInterval": "",
        "checkStateInterval": "",
        "connectionDownDelay": "",
        "allowHalfOpen": false,
        "disableBigInt": false,
        "debuggingLevel": "",
        "bareClient": false
    },
    {
        "id": "2c677e7d6676438b",
        "type": "debug",
        "z": "3155fc29ace33dcb",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "6ee74b4ddc4656ef",
        "type": "influxdb out",
        "z": "3155fc29ace33dcb",
        "influxdb": "19d3d373c748b635",
        "name": "InfluxDB",
        "measurement": "Test",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "KIT",
        "bucket": "SLS_Data",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "bc8efa2f0c30955b",
        "type": "function",
        "z": "3155fc29ace33dcb",
        "name": "Set Data for InfluxDB",
        "func": "msg.topic=\"InfluxData\"\nvar powerInfrared1=global.get(\"iPowerInfrared1\")\nvar timestamp = Date.now()\nvar powerInfrared = powerInfrared1\nvar process = 0\nvar component = 10\nmsg.payload={\n    \"timestamp\" : timestamp,\n    \"powerInfared\" : powerInfrared,\n    \"process\" : process,\n    \"component\" : component\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 200,
        "wires": [
            [
                "2c677e7d6676438b",
                "6ee74b4ddc4656ef"
            ]
        ]
    },
    {
        "id": "f6c8b81ea62a84e7",
        "type": "influxdb batch",
        "z": "3155fc29ace33dcb",
        "influxdb": "19d3d373c748b635",
        "precision": "",
        "retentionPolicy": "",
        "name": "InfluxDB Batch",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "KIT",
        "bucket": "SLS_Data",
        "x": 820,
        "y": 40,
        "wires": []
    },
    {
        "id": "966e8c40bf2ac949",
        "type": "function",
        "z": "3155fc29ace33dcb",
        "name": "Set Message Format",
        "func": "msg.payload = [\n    {\n        measurement: \"Power\",\n        fields: {\n            powerHeatingMat1: 5.5,\n            powerHeatingMat2: 10,\n            powerNozzle: 15\n        },\n        tags:{\n            process:\"Sintern\",\n            component:\"Bauteil XY\"\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 40,
        "wires": [
            [
                "f6c8b81ea62a84e7"
            ]
        ]
    },
    {
        "id": "bd8c4fa4632e8aee",
        "type": "inject",
        "z": "3155fc29ace33dcb",
        "name": "Send Data to InfluxDB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "0895be440011be08"
            ]
        ]
    },
    {
        "id": "0895be440011be08",
        "type": "function",
        "z": "3155fc29ace33dcb",
        "name": "Power Calculation",
        "func": "// Infrarotheizung\n\n// Heizmatte 1 (Bauplattform)\n\n// Heizmatte 2 (Pulverplattform)\n\n// Heizmatte 3 (Faserintegration)\n\n// Düsenheizung\n\n// Laser\n\n// Ventilator -> Grundlast\n\n// Motor 1 (Bauplattform)\n\n// Motor 2 (Vorratsplattform)\n\n// Motor 3 (Düse X-Achse)\n\n// Motor 4 (Düse Y-Achse)\n\n// Motor 5 (Rakel)\n\n// Motor 6 (Faservorschub)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 40,
        "wires": [
            [
                "966e8c40bf2ac949"
            ]
        ]
    },
    {
        "id": "7004d7ff56d54fe9",
        "type": "inject",
        "z": "3155fc29ace33dcb",
        "name": "Send Data to InfluxDB",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "bc8efa2f0c30955b"
            ]
        ]
    },
    {
        "id": "e8634bdf5693be6f",
        "type": "ads-client-connection-status",
        "z": "ed5a922bb126bd97",
        "name": "SLS ADS Status",
        "connection": "3953286b03d613bb",
        "showInput": false,
        "inputs": 0,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "0daed83fcdaaf541"
            ]
        ]
    },
    {
        "id": "0daed83fcdaaf541",
        "type": "debug",
        "z": "ed5a922bb126bd97",
        "name": "SLS ADS Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "fa8eff2047e11308",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iPowerInfrared1 = msg.payload;\nglobal.set(\"iPowerInfrared1\", iPowerInfrared1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "3babe7c99581d022"
            ]
        ]
    },
    {
        "id": "8ab2c2e0780deec9",
        "type": "ads-client-subscribe",
        "z": "ed5a922bb126bd97",
        "name": "iPowerInfrared1",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.iPowerInfrared1",
        "cycleTime": 200,
        "mode": "onchange",
        "initialDelay": 0,
        "retryInterval": 2000,
        "controlSubscription": false,
        "resubscribeTimeout": 2000,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "fa8eff2047e11308"
            ]
        ]
    },
    {
        "id": "8506b4ce4abd3ff7",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iPowerInfrared2 = msg.payload;\nglobal.set(\"iPowerInfrared2\", iPowerInfrared2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5b0a7bbcf9b15cdf",
        "type": "ads-client-subscribe",
        "z": "ed5a922bb126bd97",
        "name": "iPowerInfrared2",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.iPowerInfrared2",
        "cycleTime": 200,
        "mode": "onchange",
        "initialDelay": 0,
        "retryInterval": 2000,
        "controlSubscription": false,
        "resubscribeTimeout": 2000,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "8506b4ce4abd3ff7"
            ]
        ]
    },
    {
        "id": "b382369e19c81afa",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iPowerInfrared3 = msg.payload;\nglobal.set(\"iPowerInfrared3\", iPowerInfrared3);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f2f7862ed5b90ef7",
        "type": "ads-client-subscribe",
        "z": "ed5a922bb126bd97",
        "name": "iPowerInfrared3",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.iPowerInfrared3",
        "cycleTime": 200,
        "mode": "onchange",
        "initialDelay": 0,
        "retryInterval": 2000,
        "controlSubscription": false,
        "resubscribeTimeout": 2000,
        "inputs": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "b382369e19c81afa"
            ]
        ]
    },
    {
        "id": "ccd93a529a1e183e",
        "type": "ads-client-subscribe",
        "z": "ed5a922bb126bd97",
        "name": "iBuildPlatformCurrent",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.iBuildPlatformCurrent",
        "cycleTime": 200,
        "mode": "onchange",
        "initialDelay": 0,
        "retryInterval": 2000,
        "controlSubscription": false,
        "resubscribeTimeout": 2000,
        "inputs": 0,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "6f34985467b664f2"
            ]
        ]
    },
    {
        "id": "6f34985467b664f2",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iBuildPlatformCurrent = msg.payload;\nglobal.set(\"iBuildPlatformCurrent\", iBuildPlatformCurrent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3babe7c99581d022",
        "type": "debug",
        "z": "ed5a922bb126bd97",
        "name": "Debug needed Variable",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "f2563b9df2d98a3c",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iReservoirPlatformCurrent = msg.payload;\nglobal.set(\"iReservoirPlatformCurrent\", iReservoirPlatformCurrent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f6cf8ba8c745cdaa",
        "type": "ads-client-subscribe",
        "z": "ed5a922bb126bd97",
        "name": "iReservoirPlatformCurrent",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.iReservoirPlatformCurrent",
        "cycleTime": 200,
        "mode": "onchange",
        "initialDelay": 0,
        "retryInterval": 2000,
        "controlSubscription": false,
        "resubscribeTimeout": 2000,
        "inputs": 0,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "f2563b9df2d98a3c"
            ]
        ]
    },
    {
        "id": "085cff276f6467eb",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iNozzelXAxisCurrent = msg.payload;\nglobal.set(\"iNozzelXAxisCurrent\", iNozzelXAxisCurrent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "77aadc74bf0286f3",
        "type": "ads-client-subscribe",
        "z": "ed5a922bb126bd97",
        "name": "iNozzelXAxisCurrent",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.iNozzelXAxisCurrent",
        "cycleTime": 200,
        "mode": "onchange",
        "initialDelay": 0,
        "retryInterval": 2000,
        "controlSubscription": false,
        "resubscribeTimeout": 2000,
        "inputs": 0,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "085cff276f6467eb"
            ]
        ]
    },
    {
        "id": "442765716c1e0a5a",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iNozzleYAxisCurrent = msg.payload;\nglobal.set(\"iNozzleYAxisCurrent\", iNozzleYAxisCurrent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d779d8232ec7502c",
        "type": "ads-client-subscribe",
        "z": "ed5a922bb126bd97",
        "name": "iNozzleYAxisCurrent",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.iNozzleYAxisCurrent",
        "cycleTime": 200,
        "mode": "onchange",
        "initialDelay": 0,
        "retryInterval": 2000,
        "controlSubscription": false,
        "resubscribeTimeout": 2000,
        "inputs": 0,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "442765716c1e0a5a"
            ]
        ]
    },
    {
        "id": "840f55f6b9e336b5",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iDoctorBladeCurrent = msg.payload;\nglobal.set(\"iDoctorBladeCurrent\", iDoctorBladeCurrent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "a8ebd9bf19b6bf53",
        "type": "ads-client-subscribe",
        "z": "ed5a922bb126bd97",
        "name": "iDoctorBladeCurrent",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.iDoctorBladeCurrent",
        "cycleTime": 200,
        "mode": "onchange",
        "initialDelay": 0,
        "retryInterval": 2000,
        "controlSubscription": false,
        "resubscribeTimeout": 2000,
        "inputs": 0,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "840f55f6b9e336b5"
            ]
        ]
    },
    {
        "id": "02552fb901896a7d",
        "type": "function",
        "z": "ed5a922bb126bd97",
        "name": "Set Global Variable",
        "func": "var iFiberTransportIntegrationUnitCurrent = msg.payload;\nglobal.set(\"iFiberTransportIntegrationUnitCurrent\", iFiberTransportIntegrationUnitCurrent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "174023da4eb855cc",
        "type": "ads-client-subscribe",
        "z": "ed5a922bb126bd97",
        "name": "iFiberTransportIntegrationUnitCurrent",
        "connection": "3953286b03d613bb",
        "variableName": "GVL_Standard.iFiberTransportIntegrationUnitCurrent",
        "cycleTime": 200,
        "mode": "onchange",
        "initialDelay": 0,
        "retryInterval": 2000,
        "controlSubscription": false,
        "resubscribeTimeout": 2000,
        "inputs": 0,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "02552fb901896a7d"
            ]
        ]
    }
]